@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;600;700&family=Overpass:wght@300;400;600;700;800&display=swap');

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #19292e;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  border-bottom: solid 2px #4ac2ca5d;
  text-decoration: none;
}

a:hover {
  color: #c7eff8;
  font-weight: 400;
  height: 22px;
  background: rgba(11, 105, 109, 0.3);
  transition: all 0.1s ease-in-out;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  /* box-sizing: border-box; */
  /* border: 1px solid #ccc; */
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

/* Mobile Styling */
@media only screen and (max-width: 550px) {
  body {
    width: 100%;
    padding: 0;
    font-size: 15px;
    line-height: 1.75;
  }

  #about,
  #projects,
  #contact,
  #experience {
    max-width: 90%;
    margin: 0 auto;
  }
}
